@import "tailwindcss";

:root {
  --light: #f6f4f0;
  --dark: #272443;
  --red-accent: #da392b;
  --yellow-accent: #fcff72;
}

@theme inline {
  --color-light: var(--light);
  --color-dark: var(--dark);
  --color-red-accent: var(--red-accent);
  --color-yellow-accent: var(--yellow-accent);
  --font-oswald: var(--font-oswald);
  --font-lobster: var(--font-lobster);
}

body {
  background: var(--color-light);
  color: var(--color-dark);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth
}

.content-limit {
  @apply mx-5 md:mx-24
}

.shadow-custom {
  @apply shadow-lg shadow-gray-500/50;
}

.heading-2 {
  @apply font-oswald text-2xl font-bold lg:text-5xl/16
}

h3 {
  @apply text-lg lg:text-[34px] font-bold;
}

h4 {
  @apply text-xl font-bold;
}